.card-recent {
    min-width: 200px;
    min-height: 200px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-align: center;

    background-color: #fff;

    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 14px;

    box-shadow: 0 6px 22px rgb(0, 0, 0, 0.08);


    .badge-manchester {
        width: 80px;
        height: 80px;

        border-radius: 50%;
    }

    .span-patient-id {
        font-size: 1rem;
    }

    .span-patient-status {
        color: #8b8b8b;
        font-size: 0.8rem;
    }
}


