#form-registrar-paciente {
    max-width: 600px;
    
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin: 15px auto;
    padding: 20px;
    
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Estilo para h2 (removido o aninhamento) */
#form-registrar-paciente h2 {
    margin-bottom: 10px;
}

/* Estilo para .div-blanck (removido o aninhamento) */
#form-registrar-paciente .div-blanck {
    height: 2px;

    margin: 15px 0;

    background-color: #f8f8f8;
}

/* Estilo para campos de entrada, textarea e select usando a classe .input-registrar */
.input-registrar {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; /* Garante que o padding não altere a largura total */
}

#form-registrar-paciente textarea.input-registrar {
    resize: vertical;
}

/* Estilo para button (removido o aninhamento) */
#form-registrar-paciente button {
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white; 
    border: 0; 
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#form-registrar-paciente button:hover {
    background-color: #0056b3; /* Efeito hover para melhor feedback visual */
}